<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>成功</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script th:src="@{/bootstrap/script/jquery-3.4.1.min.js}" src="../../static/bootstrap/script/jquery-3.4.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    	<br><br><br><br>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <h3 th:text="${tittle}"></h3><br>
                    <span style="font-size: medium" th:text="${articleInfoStr.articleInfo.summary}">Best check yo self, you're not looking too good.</span>&emsp;&emsp;
                    <a href="/admin/article/list" class="alert-link">返回文章管理</a><br><br>
                    <span style="font-size: small" th:text="'创建时间 ' + ${articleInfoStr.creatimeStr}"></span>&emsp;&emsp;
                    <span style="font-size: small" th:text="'更新时间 ' + ${articleInfoStr.updatimeStr}"></span>&emsp;&emsp;
                    <span style="font-size: small" th:text="'分类于 ' + ${articleInfoStr.categoryStr}"></span>&emsp;&emsp;
                </div>
            </div>
        </div>
    </div>
</body>
</html>